{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Home {% endblock %}

{% block body %}
    {% block header %}
        <h1>Welcome to bucket-list !</h1>
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

{% endblock %}