<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('wish_list') }}">List</a></li>
        <li><a href="{{ path('main_about_us') }}">About us</a></li>
    </ul>
</nav>