<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
    <div class="container">

        {% include 'bodyStructure/header/header.html.twig' %}

        <main>
            {% block body %}{% endblock %}
        </main>

        {% include 'bodyStructure/footer/footer.html.twig' %}

    </div>
</body>
</html>
